
<ul>
    <li><a href="@Url.Content("~/Home/ExampleTest1")">Example Test 1</a></li>
    <li><a href="@Url.Content("~/Home/ExampleTest2")">Example Test 2</a></li>
    <li><a href="@Url.Content("~/Home/ExampleTest3")">Example Test 3</a></li>
</ul>