
<form method="post" action="/Home/Convert">
    @*This looks pretty shit, maybe put in some helpers for Buttons and Inputs etc.?*@
	<input type="image" name="submit" value="downloaded"
		src="@(new HtmlString("/Public/img/" +
		abSee.ABTester.Test("download-button", "greenbutton.png", "redbutton.png" )))"
		/>
</form>