
@foreach (var test in abSee.ABTester.Settings.Storage.GetActiveTests())
{
    <h5>@test.Name</h5>
    <ul>
    @foreach (var result in abSee.ABTester.GetResults(test.Name))
    {
        <li>
            Option: @result.Option
            Converted: @result.Converted.ToString()
        </li>
    }
    </ul>
}